<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>

    <title>Shopping List</title>

    <!--CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />

  </head>

  <body background="../static/images/bg.jpg" width= "100%">

    <!-- Container start -->
    <div class="container">
      
      
      <!--navigation -->
      <nav class="navbar">
          <a class="navbar-brand" href="{{url_for('index')}}"><h3>Home</h3></a>
          <li><a href="/create">Create List</a></li>
          <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </nav><!--navigation end-->

      <div class="row">
        <div class="col-lg-12"><!-- body -->

          <div class="title">
            <h1>Shopping Lists:</h1>
          </div>

          <div class="row">
          {% for title1 in lists.keys() %}
          <div class="col-lg-6">
            
            <div>
                <h3>{{ title1 }}</h3>
                
            </div>
            <div>
              <i>{{ lists[title1]['Description'] }}</i>
            </div>

            <div class="delete-add">
              <input type="hidden" name="shopping-list" value="{{ title }}">
               <a href="{{ url_for('add', title=title1) }}">Add More Items</a>
              <a href="{{ url_for('delete_list', title=title1) }}" onclick="return confirm('Are you sure you want to delete this list?');">Delete list</a>
               

            </div>


          <table style="width:100%">
          <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Budget</th>
          <th>Action</th>
          </tr>
          {% for title in items_dict.keys() %}
          {% if title == title1 %}
          {% for item in items_dict[title].keys() %}
          <tr>
          <td>{{ item }}</td>
          <td>{{ items_dict[title][item][0] }}</td>
          <td>{{ items_dict[title][item][1] }}</td>
          <td>
            <a href="{{ url_for('delete_item',  itemname = item) }}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
          </td>
          </tr>
          {% endfor %}
          {% endif %}
          {% endfor %}

          </table>
        </div>
        {% endfor %}
       </div>

          <footer> <!--start footer -->
      <div class="row">
        <div class="col-lg-4 text-center"></div>
        <div class="col-lg-4 text-center">
          <div class="footer-4">
              <p>&copy; 2017 Shopping List</p>
          </div>
        </div>
        </footer><!--End footer -->

        </div>
        
    </div><!-- Container End -->

    <!--JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>

  </body>

</html>

